<div class="primaryStatsTableWidgit">
    <div class="primaryStatsTable">
        <div class="primaryStatsTableBody" data-bind="foreach: PrimaryStats()">
            <div class="primaryStatsEntry">
                <div class="primaryStatsEntryName" data-bind="text:ShortName"></div>
                <div class="primaryStatsEntryAbilityModifier" data-bind="text:AbilityModifier"></div>
                <input type="number" class="primaryStatsEntryAbilityScore" data-bind="value: AbilityScore, enable: $parent.InEdit" onfocus="this.oldvalue = this.value;" onchange="ValidateInts(this); this.oldvalue = this.value;">
            </div>
        </div>
    </div>
</div>

<!--<input type="number" class="primaryStatsEntryName" data-bind="value :Test, valueUpdate:'afterkeydown'">-->