<div class="maxContainer">

    <div class="skillEntry" style="display: table;" data-bind="style: { backgroundColor: $data.BackGroundColour }, execute: $data.ShowDetail, executeoption: { callback : function(){} }">
        <input type="checkbox" style="background-color: darkgreen; display: inline-block; vertical-align: middle; width: 30px; margin: 0" data-bind="checked:Class">
        <div  style="background-color: darkblue; display: inline-block; vertical-align: middle; width:200px" data-bind="text:Name"></div>
        <div  style="background-color: darkcyan; display: inline-block; vertical-align: middle; width:70px" data-bind="text:Total"></div>
        <div  style="background-color: darkmagenta; display: inline-block; vertical-align: middle; width:60px" data-bind="text:PrimaryStatName"></div>
        <div  style="background-color: darkmagenta; display: inline-block; vertical-align: middle; width:40px" data-bind="text:PrimaryStatModifier"></div>
        <div  style="background-color: darkorange; display: inline-block; vertical-align: middle; width:45px" data-bind="text:Ranks"></div>
    </div>


    <!--<button data-bind="enable:$data.Delete().CanExecuteValue, execute: $data.Delete, executeoption: { callback : function(){} }" style="width: 100%">Remove skill</button>
    -->
</div>