<div class="skillTableWidgit">

    <button data-bind="enable: ($data.AddSkillCanExecute && $data.DataAvailable), execute: $data.AddSkill, executeoption: { event:'click', callback : function(){} }">Add</button>

    <div class="skillTable">
        <div class="skillTableBody" data-bind="foreach: SkillViewModels()">
            <div class="skillEntry" data-bind="execute: ShowDetail, executeoption: { callback : function(){} }">
                <div class="skillEntryName" data-bind="text:Name"></div>
                <div class="skillEntryTotal" data-bind="text:Total"></div>
                
                <!-- ko if: ShowDetails -->
                <div class="skillSpecifics">
                    <div class="skillSpecificsStatName" data-bind="text:PrimaryStatName"></div>
                    <div class="skillSpecificsRanks" data-bind="text:Ranks"></div>
                </div>
                <!-- /ko -->
            </div>
            
            <!--<div class="skillTableCell"><button data-bind="enable:$parent.RemoveSkillCanExecute, execute: $parent.RemoveSkill, executeoption: { callback : function(){} }" style="width: 100%">Remove skill</button></div>
    <!--<div class="divTableCell"><button data-bind="execute: $parent.RemoveSkill" style="width: 100%">Remove skill</button></div> -->
        </div>
    </div>
</div>