<div class="skillTableWidgit marginContainer">
    
    <button data-bind="enable:AddSkillCanExecute, execute: $data.AddSkill, executeoption: { event:'click', callback : function(){} }">Add</button>

    <div class="divTable">
        <div class="divTableHeading">
            <div class="divTableRow">
                <div class="divTableHead">Skill Name</div>
                <div class="divTableHead">Total Bonus</div>
            </div>
        </div>
        <div class="skillTableBody" data-bind="foreach: Skills()">
            <div class="skillTableRow">
                <div class="skillTableTextCell" data-bind="text:Name"></div>
                <div class="skillTableButtonCell" ><button class="skillTableButton" data-bind="text:Total"></button></div>
                <!--<div class="skillTableCell"><button data-bind="enable:$parent.RemoveSkillCanExecute, execute: $parent.RemoveSkill, executeoption: { callback : function(){} }" style="width: 100%">Remove skill</button></div>
                <!--<div class="divTableCell"><button data-bind="execute: $parent.RemoveSkill" style="width: 100%">Remove skill</button></div> -->
            </div>
            <div class="skillTableRow">
                <div class="skillTableButtonCell" ><button class="skillTableButton" ><span style="text-align: left" data-bind="text:Name"></span><span style="text-align: right" data-bind="text:Total"></span></button></div>
            </div>
        </div>
    </div>
</div>