<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml" style="background-color: #4e4b4b">
<head>
    <meta charset="utf-8" />
    <title></title>
    <script src="js/script.js"></script>
    <link href="style/style.css" rel="stylesheet" />
</head>
<body>  
<div id="mainContainer" class="mainContainer" style="background-color: #4e4b4b">
    <div class="mainViewGrid">
        <div class="mainViewGridFullCell" style="background-color: darkmagenta">
            <div data-bind="component:{name: 'title-zone', params: ViewModel().TitleZoneViewModel}"></div>
        </div>
        <div class="mainViewGridFullCell" style="background-color: blue">
            <div data-bind="component:{name: 'primary-stats-table', params: ViewModel().PrimaryStatsTableViewModel}"></div>
        </div>
        <div class="mainViewGridHalfCell" style="background-color: darkolivegreen">
            <div data-bind="component:{name: 'skill-table', params: ViewModel().SkillTableViewModel}"></div>
        </div>
        <div class="mainViewGridHalfCell" style="background-color: darkgreen">
            <div data-bind="component:{name: 'skill-table', params: ViewModel().SkillTableViewModel}"></div>
        </div>
    </div>
</div>

<script>
    document.write(
        '<script type="text/javascript" src="../node_modules/requirejs/require.js"><' +
        '/script><script type="text/javascript" src="js/mainConfigFile.js"><' +
        '/script><script type="text/javascript" src="js/templateConfigFile.js"><' +
        '/script>');
</script>

</body>
</html>